body{
    background-color: #2EC4B6;
}
a, a:visited{
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.menu-button{
    display: inline-block;
    height: 130px;
    width: 130px;
    font-size: 18px;
    line-height: 65px;
    color: #fff;
    cursor: pointer;
    border: #fff solid 2px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 50%;
    margin: 15px;
    padding-top: 30px;
}
.buttons{
    padding-bottom: 50px;
    float: none;
    margin: 0 auto;
    text-align: center;
}
.menu-button:hover{
    background: #fff;
    color: #2EC4B6 !important;
    text-decoration: none;
}

.section-header{
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    padding: 20px;
}
.maininfo{
    text-align: center;
    line-height: 200%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 15px;
}
.maininfo>a:hover{
    font-weight: bold;
    color: yellow;
}
/* HEADER SECTION */
#header{
    background: #2EC4B6;
    height: auto;
}
h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
    text-align: center;
    padding-top: 70px;
    color: yellow;
    padding-bottom: 70px;
}
/* TURNIER SECTION */
#turnier, #teams, #akz_teams, #fun, #kontakt{
    background: #2EC4B6;
    height: auto;
    color:#fff;
    padding-bottom: 50px;
}
#turnier>.section-header{
    color: #fff !important;
}
/* TEAMS SECTION */
.teams-table{
    text-align: center;
    margin: 0 auto;
    color: #fff;
}
td, th{
    padding: 10px 25px 0 25px !important;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    #font-size: 15px;
}
/* FUN SECTION */

/* KONTAKT SECTION */

/* BACK TO TOP BUTTON */
a.back-to-top, a.back-to-top:hover{
    width: 20px;
    height: 20px;
    border-left: 2px solid;
    border-top: 2px solid;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: fixed;
    right: 20%;
    bottom: 5%;
    cursor: pointer;
    color: #fff;
}
@media all and (max-width: 414px){
    #header{
        height: auto;
    }
    h1 {
        font-size: 50px;
        padding: 30px;
    }
    .buttons{
        display: none;
    }
    #fun{
        padding-left: 5%;
        padding-right: 5%;
    }
    a.back-to-top, a.back-to-top:hover{
        right: 10%;
        bottom: 5%;
        width: 15px;
        height: 15px;
        color: yellow;
    }
}